<header>
    <div class="contenedor">
        <div class="navbar">
            <h1 class="logo"><img src="assets/images/logo-soho.png" alt=""></h1>
            <nav class="menu">
                <a href="">Inicio</a>
                <a href="">Nosotros</a>
                <a href="">Servicios</a>
                <a href="">Casos de exito</a>
                <a href="">Unete al equipo</a>
                <a href="">Contacto</a>
            </nav>
        </div>
        <div class="contenido-header">
            <h1 class="titulo-header">Nos especializamos en</h1>
            <h2 class="texto-header"><strong>interfaces digitales que los usuarios aman</strong></h2>
            <a href="" class="action-header">HABLEMOS DE TU PROYECTO</a>
        </div>
    </div>
</header>