
<main>
   
    <section class="directo">
       <div class="contenedor-directo">
           <i class="fa fa-chevron-right"></i><p class="directo-parrafo"><span class="bold">EN DIRECTO</span>-SOHO está presente en el <strong>DIGITALBANK MONTEVIDEO.</strong>"Experiencia de Usuario" por Alvaro Añón (SEO de Soho).</p>
           <a href="" class="action-directo-evento">Ver evento</a>
           <a href="" class="action-directo-proximo">Proximos eventos</a>
        </div> 
    </section>
    
    <section class="experiencia">
        <div class="contenedor-experiencia">
            <h3 class="experiencia-titulo">17 años de experiencia en pos de tu proyecto</h3>
            <span class="linea-experiencia"></span>
            <p class="experiencia-parrafo">Especializados desde 1996 en usabilidad, experiencia del usuario (UX) y diseño de experiencias de proyectos digitales. Aportamos estrategia e innovación centrada en el usuario y los objetivos de negocio de tu proyecto. Cotrabajando mejoraremos tu tasa de conversión, KPI´s, ROI y los resultados de tu actual publicidad PPC (pay per click).</p>
         </div> 
     </section>

     <section class="experiencia">
        <div class="contenedor-experiencia">
            <h3 class="experiencia-titulo">17 años de experiencia en pos de tu proyecto</h3>
            <span class="linea-experiencia"></span>
            <p class="experiencia-parrafo">Especializados desde 1996 en usabilidad, experiencia del usuario (UX) y diseño de experiencias de proyectos digitales. Aportamos estrategia e innovación centrada en el usuario y los objetivos de negocio de tu proyecto. Cotrabajando mejoraremos tu tasa de conversión, KPI´s, ROI y los resultados de tu actual publicidad PPC (pay per click).</p>
         </div> 
         <div class="contenedor-experiencia">
            <h3 class="experiencia-titulo">17 años de experiencia en pos de tu proyecto</h3>
            <span class="linea-experiencia"></span>
            <p class="experiencia-parrafo">Especializados desde 1996 en usabilidad, experiencia del usuario (UX) y diseño de experiencias de proyectos digitales. Aportamos estrategia e innovación centrada en el usuario y los objetivos de negocio de tu proyecto. Cotrabajando mejoraremos tu tasa de conversión, KPI´s, ROI y los resultados de tu actual publicidad PPC (pay per click).</p>
         </div> 
         <div class="contenedor-experiencia">
            <h3 class="experiencia-titulo">17 años de experiencia en pos de tu proyecto</h3>
            <span class="linea-experiencia"></span>
            <p class="experiencia-parrafo">Especializados desde 1996 en usabilidad, experiencia del usuario (UX) y diseño de experiencias de proyectos digitales. Aportamos estrategia e innovación centrada en el usuario y los objetivos de negocio de tu proyecto. Cotrabajando mejoraremos tu tasa de conversión, KPI´s, ROI y los resultados de tu actual publicidad PPC (pay per click).</p>
         </div> 
     </section>
   <!--
     <section class="servicios">
        <div class="contenedor-servicios">
            <div class="contenido-servicios">
                <div class="tarjeta-1">
                    <div class="contenido-tarjeta">
                        <h3 class="titulo-tarjeta">Estrategia, usabilidad & ux</h3>
                        <p class="parrafo-tarjeta" style="color: #999999">Te ofrecemos excelente usabilidad y experiencia del usuario en tu proyecto, junto a una vision innovadora</p>
                    </div>
                </div>
                <div class="tarjeta-2">
                        <div class="contenido-tarjeta">
                            <h3 class="titulo-tarjeta">Mejoramos la experiencia</h3>
                            <p class="parrafo-tarjeta" style="color: #999999">Tangilizamos tu proyecto digial a través de un diseño centrado en el usuario y tecnicas avanzadas.</p>
                        </div>
                </div>
                <div class="tarjeta-3">
                        <div class="contenido-tarjeta">
                            <h3 class="titulo-tarjeta">Medición continua de objetivos</h3>
                            <p class="parrafo-tarjeta" style="color: #999999">Implementación, testing con usuarios y medición continua son necesarias para garantizar el éxito de tu proyecto</p>
                        </div>
                </div>
            </div>
        </div>
    </section>

  

   
     <app-projects></app-projects>
 
    <section class="clientes">
        <div class="contenedor">
            <div class="clientes-textos">
                <h2 class="titulo-clientes">Lo que dicen nuestros clientes</h2>
                <span class="linea-clientes"></span>
            </div>
            <section class="galeria-clientes">
                <div class="fotos-clientes">
                    <img class="img-cliente" src="https://upload.wikimedia.org/wikipedia/commons/a/a1/Paul_Rudd_%28cropped%29.jpg" alt="Cinque Terre" >
                    <div class="text-center">"Lorem ipsum dolor sit amet consectetur adipisicing elit."</div>
                    <div class="text-bottom">Cristobal Fernandez - CEO Copec</div>
                </div>
                <div class="fotos-clientes">
                    <img class="img-cliente" src="https://vignette.wikia.nocookie.net/marvelcinematicuniverse/images/9/9c/Michael_Pe%C3%B1a.png/revision/latest?cb=20181119174706&path-prefix=es" alt="Cinque Terre" >
                    <div class="text-center">"Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo nesciunt, minus laboriosam facilis"</div>
                    <div class="text-bottom">Maria Paz Segers - Lead Digital BBVA</div>
                </div>
                <div class="fotos-clientes">
                    <img src="https://pbs.twimg.com/profile_images/1189977686715895810/ae1ei3pU_400x400.jpg" alt="Imagen cliente" >
                    <div class="text-center">"Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste modi enim fugit eaque adipisci sint. Laudantium ipsa sit eaque ullam quas quidem dicta voluptas libero"</div>
                    <div class="text-bottom">Renato Bascuñan - Lead Digital Chilena</div>
                </div>
                <a href="" class="action-clientes">HABLEMOS DE TU PROYECTO</a>
            </section>
        </div>
    </section>

    <footer>
        <section class="footer">
            <div class="contenedor-footer">
                <div class="footer-textos">
                    <p>&copy; 2017 SOHO internet + humana</p>
                    <div class="footer-textos" style="color: #02B300 !important">
                        <p>Visitanos</p>
                        <p style="margin: 0px 10px">Escribenos</p>
                        <p>Llamanos</p>
                    </div>
                    <div class="footer-textos">
                        <a href="#" class="facebook">Facebook</a>
                        <a href= "#" class="twitter">Twitter</a>
                        <a href= "#" class="linkedin">Linkedin</a>
                        <a href= "#" class="youtube">Youtube</a>
                    </div>
                </div>
            </div>
        </section>
    </footer>
-->
</main>
